  
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

ul, ol, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

input, button, textarea {
    font-family: inherit;
    padding: 0;
}

button {
    cursor: pointer;
} 

img {
    display: block;
    max-width: 100%;
    height: auto;
}