//Шрифты
$primary-font: 'DM Sans', sans-serif;
$secondary-font: 'Titan One', cursive;


//Палитра

// Заголовки и состояния hover
$primary-color: #C7133E;
$secondary-color: #FFA5BA;

// Цвет шрифта
$text-primary: #000000;
$text-primary-lighten: #907E82;;
$text-secondary: #ffffff;

// Фон
$bg-hero: #FFB8CA;
$bg-section: #FFF5F6;
$bg-section2: #F0D1A5;
$bg-section3: #C2E297;
$bg-mobilemenu: #E17992;

// Границы
$border: #e1e1e1;
$border-mobilemenu: #E18298;

// Тени
$box-shadow-card: rgba(212, 20, 67, 0.1);
