//Шрифты
$primary-font: 'DM Sans', sans-serif;
$secondary-font: 'Titan One', cursive;

//Палитра

// Заголовки
$primary-color: #d41443;
$secondary-color: #ffa5ba;

// Состояние hover
$btn-dark: #c7133e;
$btn-light: #ecebeb;

// Цвет шрифта
$text-primary: #000000;
$text-primary-lighten: #907e82;
$text-secondary: #ffffff;

// Фон
$bg-hero: #ffb8ca;
$bg-section: #fff5f6;
$bg-section2: #f0d1a5;
$bg-section3: #c2e297;
$bg-mobilemenu: #e17992;
$bg-footer-icon: #fea5bb;
// Кнопки контактов
$bg-contacts-button: #d41342;

// Границы
$border: #e1e1e1;
$border-mobilemenu: #e18298;

// Тени
$box-shadow-card: rgba(212, 20, 67, 0.1);

// // Цвет точек
$dots-primary-color: #d9d9d9;
