<section class="advantages">
            
    <div class="container">
        <h2 class="section__title visually-hidden">Advantages</h2>

        <ul class="advantages__list">

            <li class="advantages__item">
                <span class="advantages__icon-cow"></span>
                <span class="advantages__summary">721</span>
                <p class="advantages__text">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>

            <li class="advantages__item">
                <span class="advantages__icon-apple"></span>
                <span class="advantages__summary">16kg</span>
                <p class="advantages__text">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>

            <li class="advantages__item">
                <span class="advantages__icon-heart"></span>
                <span class="advantages__summary">84</span>
                <p class="advantages__text">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
           
        </ul>
    </div>

 </section>