<section class="contacts-section" id="contacts">
    <div class="container">
        <h2 class="visually-hidden">Contacts</h2>
        <ul class="card-list">
            <li class="card-list__item">
                <span class="card-list__representation">cafe</span>
                <h3 class="card-list__location">Chicago</h3>
                <p class="card-list__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <div class="card-list__schedule-thumb">
                    <h4 class="card-list__sсhedule-days">Monday - Friday</h4>
                    <p class="card-list__schedule-time">06:00 AM - 10:00 PM</p>
                    <div class="card-list__schedule-weekends">
                        <h4 class="card-list__sсhedule-days">Saturday - Sunday</h4>
                        <p class="card-list__schedule-time">08:00 AM - 16:00 PM</p>
                    </div>
                </div>
                <a class="card-list__link" href="tel:+610383766284">+61(0) 383 766 284</a>
                <a class="card-list__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
            <li class="card-list__item">
                <span class="card-list__representation alternate">foodtruck</span>
                <h3 class="card-list__location">Los Angeles</h3>
                <p class="card-list__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <div class="card-list__schedule-thumb">
                    <h4 class="card-list__sсhedule-days">Monday - Friday</h4>
                    <p class="card-list__schedule-time">06:00 AM - 10:00 PM</p>
                    <div class="card-list__schedule-weekends">
                        <h4 class="card-list__sсhedule-days">Saturday - Sunday</h4>
                        <p class="card-list__schedule-time">08:00 AM - 16:00 PM</p>
                    </div>
                </div>
                <a class="card-list__link" href="tel:+610383766284">+61(0) 383 766 284</a>
                <a class="card-list__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
            <li class="card-list__item">
                <span class="card-list__representation">cafe</span>
                <h4 class="card-list__location">New York</h4>
                <p class="card-list__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <div class="card-list__schedule-thumb">
                    <h3 class="card-list__sсhedule-days">Monday - Friday</h3>
                    <p class="card-list__schedule-time">06:00 AM - 10:00 PM</p>
                    <div class="card-list__schedule-weekends">
                        <h4 class="card-list__sсhedule-days">Saturday - Sunday</h4>
                        <p class="card-list__schedule-time">08:00 AM - 16:00 PM</p>
                    </div>
                </div>
                <a class="card-list__link" href="tel:+61(0) 383 766 284 ">+61(0) 383 766 284</a>
                <a class="card-list__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
        </ul>
        <ul class="button-set">
            <li class="button-set__item">
                    <a href="https://www.google.com/maps/d/u/0/viewer?mid=1VgXgpvKVeCXdyBRiAW57V3eNPc1FWEys&ll=36.23566858903108%2C-94.6133953967939&z=5"
                      class="button-set__primary-button button" target="_blank" rel="noreferrer noopener">Our Locations
                       <svg class="button-set__primary-bracket" width="4" height="8">
                         <use href="images/icons/icons.svg#icon-inverse-angle-bracket"></use>
                       </svg>
                    </a>
            </li>
            <li class="button-set__item">
                <button class="button-set__inverse-button button" type="button" data-modal-open-franchise>
                    Franchise <svg class="button-set__inverse-bracket" width="4" height="8">
                        <use href="images/icons/icons.svg#icon-primary-angle-bracket"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>

</section>

