<section class="gallery__section" id="macy">
  <div class="gallery container">
    <div class="gallery__trumb">
      <img
        srcset="
          images/gallery/gallery-img-1@1x.jpg 1x,
          images/gallery/gallery-img-1@2x.jpg 2x,
          images/gallery/gallery-img-1@3x.jpg 3x
        "
        src="images/gallery/gallery-img-1@1x.jpg"
        alt="Foto ice-cream"
      />
    </div>

    <div class="gallery__trumb">
      <img
        srcset="
          images/gallery/gallery-img-2@1x.jpg 1x,
          images/gallery/gallery-img-2@2x.jpg 2x,
          images/gallery/gallery-img-2@3x.jpg 3x
        "
        src=" images/gallery/gallery-img-2@1x.jpg"
        alt="Foto ice-cream"
      />
    </div>

    <div class="gallery__trumb gallery__trumb--size">
      <img
        srcset="
          images/gallery/gallery-img-3@1x.jpg 1x,
          images/gallery/gallery-img-3@2x.jpg 2x,
          images/gallery/gallery-img-3@3x.jpg 3x
        "
        src=" images/gallery/gallery-img-3@1x.jpg"
        alt="Foto ice-cream"
      />
    </div>

    <div class="gallery__trumb">
      <img
        srcset="
          images/gallery/gallery-img-4@1x.jpg 1x,
          images/gallery/gallery-img-4@2x.jpg 2x,
          images/gallery/gallery-img-4@3x.jpg 3x
        "
        src=" images/gallery/gallery-img-4@1x.jpg"
        alt="Foto ice-cream"
      />
    </div>
    <div class="gallery__trumb">
      <img
        srcset="
          images/gallery/gallery-img-5@1x.jpg 1x,
          images/gallery/gallery-img-5@2x.jpg 2x,
          images/gallery/gallery-img-5@3x.jpg 3x
        "
        src="images/gallery/gallery-img-5@1x.jpg"
        alt="Foto ice-cream"
      />
    </div>

    <div class="gallery__trumb">
      <img
        srcset="
          images/gallery/gallery-img-6@1x.jpg 1x,
          images/gallery/gallery-img-6@2x.jpg 2x,
          images/gallery/gallery-img-6@3x.jpg 3x
        "
        src=" images/gallery/gallery-img-6@1x.jpg"
        alt="Foto ice-cream"
      />
    </div>

    <div class="gallery__trumb">
      <img
        srcset="
          images/gallery/gallery-img-7@1x.jpg 1x,
          images/gallery/gallery-img-7@2x.jpg 2x,
          images/gallery/gallery-img-7@3x.jpg 3x
        "
        src="images/gallery/gallery-img-7@1x.jpg"
        alt="Foto ice-cream"
      />
    </div>

    <div class="gallery__trumb">
      <img
        srcset="
          images/gallery/gallery-img-8@1x.jpg 1x,
          images/gallery/gallery-img-8@2x.jpg 2x,
          images/gallery/gallery-img-8@3x.jpg 3x
        "
        src="images/gallery/gallery-img-8@1x.jpg"
        alt="Foto ice-cream"
      />
    </div>

    <div class="gallery__trumb">
      <img
        srcset="
          images/gallery/gallery-img-9@1x.jpg 1x,
          images/gallery/gallery-img-9@2x.jpg 2x,
          images/gallery/gallery-img-9@3x.jpg 3x
        "
        src="images/gallery/gallery-img-9@1x.jpg"
        alt="Foto ice-cream"
      />
    </div>

    <div class="gallery__trumb">
      <img
        srcset="
          images/gallery/gallery-img-10@1x.jpg 1x,
          images/gallery/gallery-img-10@2x.jpg 2x,
          images/gallery/gallery-img-10@3x.jpg 3x
        "
        src="images/gallery/gallery-img-10@1x.jpg"
        alt="Foto ice-cream"
      />
    </div>
  </div>
</section>
