<section class="gallery">
  <div class="grid">
    <div class="grid-item grid-item1">
      <img
        srcset="
          images/gallery/gallery-img-1@1x.jpg 1x,
          images/gallery/gallery-img-1@2x.jpg 2x,
          images/gallery/gallery-img-1@3x.jpg 3x
        "
        src="images/gallery/gallery-img-1@1x.jpg"
        alt="Foto ice-cream"
      />
    </div>

    <div class="grid-item grid-item2">
      <img
        srcset="
          images/gallery/gallery-img-2@1x.jpg 1x,
          images/gallery/gallery-img-2@2x.jpg 2x,
          images/gallery/gallery-img-2@3x.jpg 3x
        "
        src=" images/gallery/gallery-img-2@1x.jpg"
        alt="Foto ice-cream"
      />
    </div>

    <div class="grid-item grid-item3">
      <img
        srcset="
          images/gallery/gallery-img-3@1x.jpg 1x,
          images/gallery/gallery-img-3@2x.jpg 2x,
          images/gallery/gallery-img-3@3x.jpg 3x
        "
        src=" images/gallery/gallery-img-3@1x.jpg"
        alt="Foto ice-cream"
      />
    </div>

    <div class="grid-item grid-item4">
      <img
        srcset="
          images/gallery/gallery-img-4@1x.jpg 1x,
          images/gallery/gallery-img-4@2x.jpg 2x,
          images/gallery/gallery-img-4@3x.jpg 3x
        "
        src=" images/gallery/gallery-img-4@1x.jpg"
        alt="Foto ice-cream"
      />
    </div>
    <div class="grid-item grid-item5">
      <img
        srcset="
          images/gallery/gallery-img-5@1x.jpg 1x,
          images/gallery/gallery-img-5@2x.jpg 2x,
          images/gallery/gallery-img-5@3x.jpg 3x
        "
        src="images/gallery/gallery-img-5@1x.jpg"
        alt="Foto ice-cream"
      />
    </div>

    <div class="grid-item grid-item6">
      <img
        srcset="
          images/gallery/gallery-img-6@1x.jpg 1x,
          images/gallery/gallery-img-6@2x.jpg 2x,
          images/gallery/gallery-img-6@3x.jpg 3x
        "
        src=" images/gallery/gallery-img-6@1x.jpg"
        alt="Foto ice-cream"
      />
    </div>

    <div class="grid-item grid-item7">
      <img
        srcset="
          images/gallery/gallery-img-7@1x.jpg 1x,
          images/gallery/gallery-img-7@2x.jpg 2x,
          images/gallery/gallery-img-7@3x.jpg 3x
        "
        src="images/gallery/gallery-img-7@1x.jpg"
        alt="Foto ice-cream"
      />
    </div>

    <div class="grid-item grid-item8">
      <img
        srcset="
          images/gallery/gallery-img-8@1x.jpg 1x,
          images/gallery/gallery-img-8@2x.jpg 2x,
          images/gallery/gallery-img-8@3x.jpg 3x
        "
        src="images/gallery/gallery-img-8@1x.jpg"
        alt="Foto ice-cream"
      />
    </div>

    <div class="grid-item grid-item9">
      <img
        srcset="
          images/gallery/gallery-img-9@1x.jpg 1x,
          images/gallery/gallery-img-9@2x.jpg 2x,
          images/gallery/gallery-img-9@3x.jpg 3x
        "
        src="images/gallery/gallery-img-9@1x.jpg"
        alt="Foto ice-cream"
      />
    </div>

    <div class="grid-item grid-item10">
      <img
        srcset="
          images/gallery/gallery-img-10@1x.jpg 1x,
          images/gallery/gallery-img-10@2x.jpg 2x,
          images/gallery/gallery-img-10@3x.jpg 3x
        "
        src="images/gallery/gallery-img-10@1x.jpg"
        alt="Foto ice-cream"
      />
    </div>
  </div>
</section>
