<section class="gallery__section">
  <div class="gallery container" id="macy">
    <div class="gallery__trumb">
      <img src="images/gallery/gallery-img-1-280.jpg " alt="Foto ice-cream" />
    </div>

    <div class="gallery__trumb">
      <img src="images/gallery/gallery-img-2-280.jpg" alt="Foto ice-cream" />
    </div>

    <div class="gallery__trumb">
      <img src="images/gallery/gallery-img-3-280.jpg" alt="Foto ice-cream" />
    </div>

    <div class="gallery__trumb">
      <img src="images/gallery/gallery-img-4-280.jpg" alt="Foto ice-cream" />
    </div>

    <div class="gallery__trumb">
      <img src="images/gallery/gallery-img-5-280.jpg" alt="Foto ice-cream" />
    </div>

    <div class="gallery__trumb">
      <img src="images/gallery/gallery-img-6-280.jpg" alt="Foto ice-cream" />
    </div>

    <div class="gallery__trumb">
      <img src="images/gallery/gallery-img-7-280.jpg" alt="Foto ice-cream" />
    </div>

    <div class="gallery__trumb">
      <img src="images/gallery/gallery-img-8-280.jpg" alt="Foto ice-cream" />
    </div>

    <div class="gallery__trumb">
      <img src="images/gallery/gallery-img-9-280.jpg" alt="Foto ice-cream" />
    </div>

    <div class="gallery__trumb">
      <img src="images/gallery/gallery-img-10-280.jpg" alt="Foto ice-cream" />
    </div>
  </div>
</section>
