<header class="header">
    <div class="container header--position">
        <!-- Логотип хедера -->
        <a href="" class="header__logo">
            <svg class="header__logo-icon" width="200" height="50">
                <use href="images/header/header-icons.svg#icon-logo"></use>
            </svg></a>
        <!-- Мобильное меню с навигацией -->
        <div>
            <button class="mobile-menu-button is-open" aria-expanded="false" data-menu-button>
                <svg class="mobile-menu-button__icon" width="40" height="40" aria-label="Mobile menu switcher">
                    <use class="menu__open" href="images/header/header-icons.svg#burger-open"></use>
                    <use class="menu__close" href="images/header/header-icons.svg#burger-close"></use>
                </svg>
            </button>
            <!-- Навигационное меню -->
            <nav class="nav" data-menu>
                <button class="nav__buy-now-button">Buy now <svg class="nav__buy-now-button--arrow" width="10" height="10">
                    <use href="images/header/header-icons.svg#icon-moresign"></use>
                </svg></button>
                <ul class="nav__list">
                    <li class="nav__item"><a class="nav__link nav__link--current" href="#">Home</a></li>
                    <li class="nav__item"><a class="nav__link" href="#">About us</a></li>
                    <li class="nav__item"><a class="nav__link" href="#">How it’s made?</a></li>
                    <li class="nav__item"><a class="nav__link" href="#">Our products</a></li>
                    <li class="nav__item"><a class="nav__link" href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
        <!-- Герой -->
        <div class="hero">
            <h1 class="hero__title">ice cream made with <span class="hero__title--recolor">passion</span></h1>
            <div class="hero__button--display">
                <button class="hero__button hero__button--products">Products</button>
                <button class="hero__button hero__button--how-made">How it’s made?</button>
            </div>
        </div>
    </div>
</header>