<!-- Form-modal -->
<div class="backdrop-about about-modal" id="mobile-menu">
  <div class="about-modal__tumba">
    <button class="about-modal__close">
      <svg class="about-modal__close--icon" width="24px" height="24px">
        <use href="/images/icons/icons.svg#icon-close"></use>
      </svg>
    </button>

    <h3 class="about-modal__title">tradition and love</h3>

    <p class="about-modal__slogan">
      Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem
      eget, egestas eros. Maecenas eleifend erat at justo fringilla.
    </p>
    <div class="about-modal__icon">
      <span class="about-modal__icon-cow"></span>
      <span class="about-modal__icon-apple"></span>
      <span class="about-modal__icon-heart"></span>
    </div>
    <ul class="about-modal__desc">
      <li class="about-modal__list">
        <p class="about-modal__text">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt. Curabitur lacinia enim at ex blandit, vel
          pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod
          nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
        </p>
      </li>
      <li class="about-modal__list">
        <p class="about-modal__text">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt. Curabitur lacinia enim at ex blandit, vel
          pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod
          nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt..
        </p>
      </li>
      <li class="about-modal__list">
        <p class="about-modal__text">Aliquam erat volutpat. Aenean accumsan.</p>
      </li>
    </ul>

    <h4 class="about-modal__title">products</h4>
    <div class="about-modal__container">
      <div class="about-modal__product">
        <img
          class="about-modal__product--img"
          src="./images/products/first-product-249.png"
          srcset="
            ./images/products/first-product-249.png 1x,
            ./images/products/first-product-498.png 2x,
            ./images/products/first-product-747.png 3x
          "
          alt="ice cream cone"
        />
        <div class="about-modal__product--desc">
          <h3 class="about-modal__title--product">ICE CREAM</h3>
          <p class="about-modal__text">
            Iced coffee is a popular choice in summer months providing a chilled alternative to hot
            drinks. Iced coffee is typically prepared using coffee, ice, dairy or plant-based milk,
            and sometimes sugar. While drinking coffee is associated with an increase in alertness,
            there is no research to suggest any differences between the beverage when served hot or
            chilled.
          </p>
        </div>
      </div>
      <div class="about-modal__product about-modal__product--reverse">
        <img
          class="about-modal__product--img"
          src="./images/products/second-product-249.png"
          srcset="
            ./images/products/second-product-249.png 1x,
            ./images/products/second-product-498.png 2x,
            ./images/products/second-product-747.png 3x
          "
          alt="milk cocktail with straw"
        />
        <div class="about-modal__product--desc">
          <h3 class="about-modal__title--product">ICE COFFEE</h3>
          <p class="about-modal__text">
            Iced coffee is a popular choice in summer months providing a chilled alternative to hot
            drinks. Iced coffee is typically prepared using coffee, ice, dairy or plant-based milk,
            and sometimes sugar. While drinking coffee is associated with an increase in alertness,
            there is no research to suggest any differences between the beverage when served hot or
            chilled.
          </p>
        </div>
      </div>
      <div class="about-modal__product">
        <img
          class="about-modal__product--img"
          src="./images/products/third-product-249.png"
          srcset="
            ./images/products/third-product-249.png 1x,
            ./images/products/third-product-498.png 2x,
            ./images/products/third-product-747.png 3x
          "
          alt="ice cream with picenia"
        />
        <div class="about-modal__product--desc">
          <h3 class="about-modal__title--product">MILKSHAKES</h3>
          <p class="about-modal__text">
            Iced coffee is a popular choice in summer months providing a chilled alternative to hot
            drinks. Iced coffee is typically prepared using coffee, ice, dairy or plant-based milk,
            and sometimes sugar. While drinking coffee is associated with an increase in alertness,
            there is no research to suggest any differences between the beverage when served hot or
            chilled.
          </p>
        </div>
      </div>
      <button class="header__buy-now-button" aria-label="Buy now" data-header-modal-open>
        Buy now
        <svg class="header__buy-now-button--arrow" width="10" height="10">
          <use href="images/header/header-icons.svg#icon-moresign"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
