<div class="backdrop is-hidden" data-modal-franchise>
  <div class="franchise-modal">
    <button type="button" class="franchise-modal__close" aria-label="Close modal window" data-modal-close-franchise>
      <svg class="franchise-modal__icon" width="30" height="30">
        <use href="images/header/header-icons.svg#burger-close"></use>
      </svg>
    </button>
    <span class="franchise-modal__title">Do you need a franchise?</span>
    <p class="franchise-modal__text">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum, qui?
    </p>
    <form name="franchise" class="franchise-modal__form">
      <label class="franchise-modal__label">
        Name
        <input class="franchise-modal__input" type="text" name="user-name" placeholder="Name">
      </label>
      <label class="franchise-modal__label">
        Email
        <input class="franchise-modal__input" type="email" name="email" placeholder="email@mail.com">
      </label>
      <label class="franchise-modal__label">
        Phone number
        <input class="franchise-modal__input" type="tel" name="phone-number" placeholder="+000-00-00-000">
      </label>
      <button type="submit" class="franchise-submit__btn">
        Send
      </button>
    </form>
  </div>
</div>