<!-- Form-modal -->
<div class="backdrop-about about-modal" id="mobile-menu">
  <div class="about-modal__tumba">
    <button class="about-modal__close">
      <svg class="about-modal__close--icon" width="24px" height="24px">
        <use href="/images/icons/icons.svg#icon-close"></use>
      </svg>
    </button>

    <h3 class="about-head__subtitle">tradition and love</h3>

    <p class="about__slogan about-modal__head">
      Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem
      eget, egestas eros. Maecenas eleifend erat at justo fringilla.
    </p>
    <div class="about-modal__icon">
      <span class="about-modal__icon-cow"></span>
      <span class="about-modal__icon-apple"></span>
      <span class="about-modal__icon-heart"></span>
    </div>

    <p class="about-modal__text">
      Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
      imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus.
      Cras massa nibh, tincidunt. Curabitur lacinia enim at ex blandit, vel pellentesque odio
      elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula
      volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
    </p>
    <p class="about-modal__text about__text--sole">
      Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
      imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus.
      Cras massa nibh, tincidunt. Curabitur lacinia enim at ex blandit, vel pellentesque odio
      elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula
      volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt..
    </p>
    <p class="about-modal__text about__text--sole">Aliquam erat volutpat. Aenean accumsan.</p>
    <h4 class="about-head__subtitle about-modal__head">products</h4>
    <div class="about-modal__container">
      <div class="about-modal__product">
        <img
          class="about-modal__product--img"
          src="./images/products/first-product-249.png"
          srcset="
            ./images/products/first-product-249.png 1x,
            ./images/products/first-product-498.png 2x,
            ./images/products/first-product-747.png 3x
          "
          alt="ice cream cone"
        />
        <p class="about-modal__text about-modal__text--product">
          Ice cream has been a popular treat for hundreds of years but has only become commonplace
          since the widespread use of refrigeration. You can even buy organic, vegan, keto, low
          calorie.
        </p>
      </div>
      <div class="about-modal__product about-modal__product--reverse">
        <img
          class="about-modal__product--img"
          src="./images/products/second-product-249.png"
          srcset="
            ./images/products/second-product-249.png 1x,
            ./images/products/second-product-498.png 2x,
            ./images/products/second-product-747.png 3x
          "
          alt="milk cocktail with straw"
        />
        <p class="about-modal__text about-modal__text--product">
          Ice cream has been a popular treat for hundreds of years but has only become commonplace
          since the widespread use of refrigeration. You can even buy organic, vegan, keto, low
          calorie.
        </p>
      </div>
      <div class="about-modal__product">
        <img
          class="about-modal__product--img"
          src="./images/products/third-product-249.png"
          srcset="
            ./images/products/third-product-249.png 1x,
            ./images/products/third-product-498.png 2x,
            ./images/products/third-product-747.png 3x
          "
          alt="ice cream with picenia"
        />
        <p class="about-modal__text about-modal__product--text">
          Ice cream has been a popular treat for hundreds of years but has only become commonplace
          since the widespread use of refrigeration. You can even buy organic, vegan, keto, low
          calorie.
        </p>
      </div>
    </div>
  </div>
</div>
