<div class="products section">
  <div class="container">
    <p class="section-subtitle">100% natural</p>
    <h2 class="section-title">Products</h2>

    <ul class="products__list">
      <li class="products__item">
        <h3 class="products__name name--pink">Ice cream</h3>
        <p class="products__text">
          Ice cream is a mixture of milk, cream, sugar, and sometimes other ingredients that has
          been frozen into a soft, creamy delight using special
        </p>

        <!-- <input id="products__check" hidden type="checkbox" class="products__check"> -->

        <p class="products__text checked">
          techniques. Ice cream has been a popular treat for hundreds of years but has only become
          commonplace since the widespread use of refrigeration.
        </p>

        <button class="products__btn">
          <svg class="products__icon" width="20" height="20">
            <use href="./images/icons/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>

        <!-- <label class="producrs__label" for="products__check">
          <div class="more-information">
            <span class="products__btn-span">
              <svg class="products__icon" width="20" height="20">
                <use href="./images/icons/icons.svg#icon-arrow-right"></use>
              </svg>
            </span>
          </div>

          <div class="less-information">
            <span class="products__btn-span">
              <svg class="products__icon" width="20" height="20">
                <use href="./images/icons/icons.svg#icon-arrow-right"></use>
              </svg>
            </span>
          </div>
        </label> -->
      </li>

      <li class="products__item">
        <h3 class="products__name name--coffee">ice coffee</h3>
        <p class="products__text">
          Iced coffee is a popular choice in summer months providing a chilled alternative to hot
          drinks. While drinking coffee is associated with an
        </p>
        <p class="products__text checked">
          increase in alertness, there is no research to suggest any differences between the
          beverage when served hot or chilled. Iced coffee is typically prepared using coffee, ice,
          dairy or plant-based milk, and sometimes sugar.
        </p>
        <button class="products__btn">
          <svg class="products__icon" width="20" height="20">
            <use href="./images/icons/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>

      <li class="products__item">
        <h3 class="products__name name--chocolate">milkshakes</h3>
        <p class="products__text">
          A milkshake is a sweet, cold beverage that is usually made from milk, ice cream, or iced
          milk, and flavorings or sweeteners such as
        </p>
        <p class="products__text checked">
          butterscotch, caramelsauce, chocolate syrup, or fruit syrup. It can also be made by adding
          powder into fresh milk and stirring the powder into the milk. Today, milkshakes are widely
          sold in fast food restaurants and diners alike
        </p>
        <button class="products__btn">
          <svg class="products__icon" width="20" height="20">
            <use href="./images/icons/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</div>
