<section class="products section" id="about">
  <div class="container">
    <p class="section-subtitle">100% natural</p>
    <h2 class="section-title">Products</h2>

    <ul class="products__list">
      <li class="products__item">
        <h3 class="products__name name--pink">Ice cream</h3>

        <input id="products__check-first" hidden type="checkbox" class="products__check">

        <p class="products__text visible">
          Ice cream is a mixture of milk, cream, sugar, and sometimes other ingredients that has been frozen into a soft, creamy delight using special techniques.
        </p>
        <p class="products__text checked">
           Ice cream has been a popular treat for
           hundreds of years but has only become commonplace since the widespread use of refrigeration. You can even buy
           organic, vegan, keto, low calorie.
        </p>

        <!-- <button class="products__btn" aria-label="Open additional text">
          <svg class="products__icon" width="16" height="14">
            <use href="./images/icons/icons.svg#icon-arrow-right"></use>
          </svg>
        </button> -->

        <label class="producrs__label" for="products__check-first">
          
            <span class="read-more">
              <svg class="products__icon" width="16" height="14">
                <use href="./images/icons/icons.svg#icon-arrow-right"></use>
              </svg>
            </span>
            
            <span class="read-less">
              <svg class="products__icon" width="20" height="20">
                <use href="./images/icons/icons.svg#icon-arrow-up"></use>
              </svg>
            </span>
          
        </label>
      </li>

      <li class="products__item">
        <h3 class="products__name name--coffee">ice coffee</h3>
        <p class="products__text  visible">
          Iced coffee is a popular choice in summer months providing a chilled alternative to hot
          drinks. Iced coffee is typically prepared using coffee, ice,
          dairy or plant-based milk, and sometimes sugar. 
        </p>

        <input id="products__check-second" hidden type="checkbox" class="products__check">

        <p class="products__text checked">
           While drinking coffee is associated with an increase in
           alertness, there is no research to suggest any
           differences between the
           beverage when served hot or chilled.
        </p>
        <!-- <button class="products__btn" aria-label="Open additional text">
          <svg class="products__icon" width="16" height="14">
            <use href="./images/icons/icons.svg#icon-arrow-right"></use>
          </svg>
        </button> -->
        <label class="producrs__label" for="products__check-second">

          <span class="read-more">
            <svg class="products__icon" width="16" height="14">
              <use href="./images/icons/icons.svg#icon-arrow-right"></use>
            </svg>
          </span>

          <span class="read-less">
            <svg class="products__icon" width="20" height="20">
              <use href="./images/icons/icons.svg#icon-arrow-up"></use>
            </svg>
          </span>

        </label>
      </li>

      <li class="products__item">
        <h3 class="products__name name--chocolate">milkshakes</h3>
        <p class="products__text  visible"> A milkshake is a sweet, cold beverage that is usually made from milk, ice
          cream, or iced milk, and flavorings or sweeteners such as butterscotch, caramel sauce, chocolate syrup, or
          fruit syrup.
        </p>

        <input id="products__check-third" hidden type="checkbox" class="products__check">

        <p class="products__text checked">
          It can also be made by adding powder into fresh milk and stirring the powder into the milk. Today, milkshakes are widely sold in fast food restaurants and diners alike.
        </p>
        <!-- <button class="products__btn" aria-label="Open additional text">
          <svg class="products__icon" width="16" height="14">
            <use href="./images/icons/icons.svg#icon-arrow-right"></use>
          </svg>
        </button> -->
        <label class="producrs__label" for="products__check-third">

          <span class="read-more">
            <svg class="products__icon" width="16" height="14">
              <use href="./images/icons/icons.svg#icon-arrow-right"></use>
            </svg>
          </span>

          <span class="read-less">
            <svg class="products__icon" width="20" height="20">
              <use href="./images/icons/icons.svg#icon-arrow-up"></use>
            </svg>
          </span>

        </label>
      </li>
    </ul>
  </div>
</section>
