<div class="products section">
    <div class="container">
        <p class="section-subtitle">100% natural</p>
        <h2 class="section-title">Products</h2>

        <ul class="products__list">
            <li class="products__item">
                <div class="products__thumb">
                    <img src="images/products/home-pic1.png" alt="Pink ice-cream">
                </div>
                
                <h3 class="products__name">Ice cream</h3>
                <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                </p>
            </li>
                
            <li  class="products__item">
                <div class="products__thumb">
                    <img src="images/products/home-pic1.png" alt="Pink ice-cream">
                </div>
                
                <h3 class="products__name">Ice cream</h3>
                <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                </p>
            </li>

            <li  class="products__item">
                <div class="products__thumb">
                    <img src="images/products/home-pic1.png" alt="Pink ice-cream">
                </div>
                
                <h3 class="products__name">Ice cream</h3>
                <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                </p>
            </li>
        </ul>
    </div>
</div>