<section class="customer-reviews">
  <div class="container">
    <h2 class="title visually-hidden">customer-reviews</h2>
    <div class="slider">
      <div class="slider__item">
        <img 
        srcset="
        images/slider-png/emily.png 1x,
        images/slider-png/emily-@2x.png 2x,
        images/slider-png/emily-@3x.png 3x
        "
        src="images/slider-png/emily.png"
        width="85"
        height="85" 
        alt="user-photo" 
        class="slider__image">
        <div class="slider__box">
          <p class="slider__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam
              nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
            <span class="slider__name">Emily, Los Angeles</span>
      </div>
      <div class="slider__item">
        <img 
        srcset="
        images/slider-png/tina.png 1x,
        images/slider-png/tina-@2x.png 2x,
        images/slider-png/tina-@3x.png 3x
        "
        src="images/slider-png/tina.png" 
        alt="user-photo" 
        class="slider__image" 
        width="85" 
        height="85">
        <div class="slider__box">
          <p class="slider__text tracking-in-contract-bck">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam
            nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
          <span class="slider__name">Tina, Los Angeles</span>
      </div>
      <div class="slider__item">
        <img 
        srcset="
        images/slider-png/karen.png 1x,
        images/slider-png/karen-@2x.png 2x,
        images/slider-png/karen-@3x.png 3x
        "
        src="images/slider-png/karen.png" 
        alt="user-photo" 
        class="slider__image" 
        width="85" 
        height="85">
        <div class="slider__box">
          <p class="slider__text tracking-in-contract-bck">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam
            nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
          <span class="slider__name">Karen, Los Angeles</span>
      </div>
    </div>
  </div>    
</section>

