.container {
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        padding: 0 36px;
        width: 768px;
    }

    @media screen and (min-width: 1280px) {
        padding: 0 115px;
        width: 1200px;
    }
}