.section-title {
    font-family: Titan One;
    font-weight: 400;
    font-size: 58px;
    line-height: 66px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #D41443;
}

.section-subtitle {
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #FFA5BA;
}