.container__about {
  padding: 125px 0 39px;
  background: $bg-section;

  @media screen and (max-width: 767px) {
    & {
      background-image: url('../images/about/bg-about-mobile@1x.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center bottom 100px;
    }
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      & {
        background-image: url('../images/about/bg-about-mobile@2x.png');
      }
    }
    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      & {
        background-image: url('../images/about/bg-about-mobile@3x.png');
      }
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    & {
      padding: 130px 0 66px;
    }
  }

  @media screen and (min-width: 768px) {
    & {
      background-image: url('../images/about/bg-about-desktop@1x.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center bottom 100px;
    }
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      & {
        background-image: url('../images/about/bg-about-desktop@2x.png');
      }
    }
    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      & {
        background-image: url('../images/about/bg-about-desktop@3x.png');
      }
    }
  }

  @media screen and (min-width: 1280px) {
    & {
      // background-size: auto;
      background-position: center bottom -21px;
    }
  }
}

.about-head {
  margin-bottom: 26px;

  @media screen and (min-width: 768px) {
    & {
      margin-bottom: 50px;
    }
  }

  @media screen and (min-width: 1280px) {
    & {
      margin-bottom: 55px;
    }
  }
}

.about-head__subtitle {
  font-family: $secondary-font;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: $secondary-color;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    & {
      font-size: 26px;
    }
  }
  @media screen and (min-width: 1280px) {
    & {
      font-size: 30px;
      line-height: 1.1;
      letter-spacing: 0.04em;
    }
  }
}

.about-head__titel {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 39px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $primary-color;

  @media screen and (min-width: 768px) {
    & {
      font-size: 55px;
    }
  }

  @media screen and (min-width: 1280px) {
    & {
      letter-spacing: 0.06em;
      font-size: 58px;
    }
  }
}

.about {
  @media screen and (min-width: 768px) {
    & {
      display: flex;
      justify-content: space-between;
    }
  }
}

.about-img {
  width: 280px;
  height: 279px;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    & {
      margin: 0 auto 46px;
    }
  }

  @media screen and (min-width: 768px) {
    & {
      width: 340px;
      height: 339px;
    }
  }

  @media screen and (min-width: 1280px) {
    & {
      width: 516px;
      height: 516px;
    }
  }
}

.about__description {
  // margin: 0 auto;
  min-width: 220px;

  @media screen and (max-width: 767px) {
    & {
      padding: 0 30px;
    }
  }

  @media screen and (min-width: 768px) {
    & {
      padding-top: 50px;

      width: 340px;
    }
  }

  @media screen and (min-width: 1280px) {
    & {
      // width: 50%;
      width: 463px;
    }
  }
}

.about__slogan {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  color: $text-primary;

  @media screen and (min-width: 768px) {
    & {
      font-size: 14px;
      line-height: 1.8;
    }
  }

  @media screen and (min-width: 1280px) {
    & {
      letter-spacing: 0.04em;
      font-size: 16px;
    }
  }
}

.about__text {
  margin-top: 29px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  color: $text-primary-lighten;

  @media screen and (min-width: 768px) {
    & {
      letter-spacing: 0.04em;
      margin-top: 25px;
      font-size: 14px;
      line-height: 1.8;
    }
  }

  @media screen and (min-width: 1280px) {
    & {
      margin-top: 35px;
      font-size: 14px;
      line-height: 1.9;
    }
  }
}

.about__text--sole {
  margin-top: 10px;

  @media screen and (min-width: 768px) {
    & {
      margin-top: 12px;
    }
  }

  @media screen and (min-width: 1280px) {
    & {
      margin-top: 31px;
    }
  }
}

.about__button {
  @include primary-button(
    $padding: 12px 33px,
    $fontSize: 16px,
    $lineHeight: 1.31,
    $textColor: $primary-color,
    $bgColor: $text-secondary
  );
  margin-top: 22px;
  font-weight: 700;

  @media screen and (min-width: 768px) {
    & {
      margin-top: 56px;
    }
  }

  @media screen and (min-width: 1280px) {
    & {
      margin-top: 45px;
    }
  }

  &--icon {
    margin-left: 14px;
  }

  &:hover,
  &:focus {
    background-color: $btn-light;
  }
}
