.header {
  position: relative;

  min-height: 480px;
  width: 100%;

  background-image: url('../images/header/hero-icecream.png'),
    radial-gradient(
      circle at 70%,
      $secondary-color 55%,
      $bg-hero 55%,
      $bg-hero 100%,
      $secondary-color 100%
    );

  background-repeat: no-repeat;
  background-position: bottom right 20%;
  background-size: inherit;

  &--position {
    display: flex;
    flex-direction: column;
    padding-top: 6px;
    background-color: transparent;
  }
  &__logo {
    width: 200px;
  }

  &__icon {
    background-color: $primary-color;
  }
}

.mobile-menu-button {
  z-index: 3;
  position: absolute;
  top: 12px;
  right: 20px;
  margin-left: auto;
  background-color: transparent;
  fill: $text-secondary;
  border: none;
  border-radius: 50%;

  &:hover,
  &:focus {
    fill: $primary-color;
  }

  &.is-open {
    fill: $primary-color;
  }

  &.is-open:hover,
  &.is-open:focus {
    fill: $text-secondary;
  }

  & .menu__open {
    display: none;
  }

  &.is-open .menu__open {
    display: block;
  }

  &.is-open .menu__close {
    display: none;
  }
}

.nav {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 75%;
  height: 100vh;
  overflow-y: scroll;
  padding: 60px 0;
  background-color: $bg-mobilemenu;
  overflow-y: hidden;

  transform: translate(140%);
  @include transition1($firstProperty: transform);

  &.is-open {
    transform: translate(34%);
  }

  &__list {
    font-family: $primary-font;
  }

  &__link {
    display: block;

    padding: 12px 20px;
    font-size: 14px;
    line-height: 1.28;
    font-weight: 700;
    color: $text-secondary;
    border-top: 1px solid $border-mobilemenu;
    border-bottom: 1px solid $border-mobilemenu;

    &:hover,
    &:focus {
      color: $primary-color;
    }
  }
}

.nav__buy-now-button {
  @include primary-button(
    $padding: 14px 50px,
    $fontSize: 16px,
    $lineHeight: 1.31,
    $textColor: $primary-color,
    $bgColor: $text-secondary
  );
  font-weight: 700;
  margin-bottom: 20px;
  margin-left: 20px;

  &--arrow {
    margin-left: 16px;
  }

  &:hover,
  &:focus {
    background-color: $btn-light;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  position: relative;

  &__thumb {
    position: absolute;
    top: 32px;
    right: 8px;
    width: 170px;
    height: 410px;
  }

  &__title {
    z-index: 1;
    margin-top: 107px;
    width: 178px;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 0.04em;
    color: $text-secondary;
    font-family: $secondary-font;
    text-transform: uppercase;
  }

  &__title--recolor {
    font-size: 48px;
    color: $primary-color;
  }
}

.hero__button {
  @include primary-button($padding: 9px 14px, $fontSize: 9px, $lineHeight: 1.25);

  &--how-made {
    @include primary-button(
      $padding: 9px 14px,
      $fontSize: 9px,
      $lineHeight: 1.25,
      $textColor: $primary-color,
      $bgColor: $text-secondary
    );
    margin-left: 8px;
  }

  &:hover,
  &:focus {
    background-color: $btn-dark;
  }

  &--how-made:hover,
  &--how-made:focus {
    background-color: $btn-light;
  }

  &--display {
    display: flex;
    margin-top: 20px;
  }
}
