// Modal franchise

.backdrop {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 93px 15px;
  overflow-y: scroll;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.franchise-modal {
  position: relative;
  background-color: $bg-hero;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  z-index: 2;
  padding: 40px;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.215, 0.610, 0.355, 1);
  background-image: linear-gradient(rgba(255, 184, 202, 0.7), rgba(0, 0, 0, 0.1)), 
  url('../images/products/third-product-440.png');
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(255, 184, 202, 0.7), rgba(0, 0, 0, 0.1)),
    url('../images/products/third-product-1005.png');
  }

  @media screen and (max-width: 479px) {
    min-width: 200px;
  }

  @media screen and (min-width: 480px) {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    transform: translate(-50%, -50%);
  }
  @media screen and (min-width: 768px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 500px;
  }
}

.backdrop.is-hidden .franchise-modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.franchise-modal__form {
  display: flex;
  flex-direction: column;
}

.franchise-modal__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  letter-spacing: 0.04em;
  color: $primary-color;
}

.franchise-modal__input {
  padding: 10px;
  border-color: transparent;
  border-radius: 5px;
  margin-top: 10px;
  color: $btn-dark;
  width: 100%;
  transition: border 400ms cubic-bezier(0.215, 0.610, 0.355, 1);

  &:focus {
    border: 2px solid $bg-contacts-button;
    outline: none;
  }

  &::placeholder {
    color: $text-primary-lighten;
  }
}

.franchise-modal__input:-webkit-autofill {
  box-shadow: 0 0 0 30px #ffe1e8 inset !important;
}

.franchise-modal__close {
  border: none;
  background-color: transparent;
  padding: 0;
  position: absolute;
  top: 5px;
  right: 5px;
}

.franchise-modal__icon {
  fill: #fff;
  transition: fill 500ms cubic-bezier(0.215, 0.610, 0.355, 1);
  
  .franchise-modal__close:hover &,
  .franchise-modal__close:focus & {
    fill: $btn-dark;
  }
}

.franchise-modal__title {
  display: block;
  margin-bottom: 20px;
  font-family: "Titan One",
    cursive;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.1;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $bg-contacts-button;
}

.franchise-modal__text {
  margin-bottom: 20px;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 0.04em;
  color: $text-secondary;
}

.franchise-submit__btn {
  display: block;
  margin: 0 auto;
  border: transparent;
  border-radius: 22px;
  height: 45px;
  width: 150px;
  font-size: 16px;
  line-height: 1.31;
  letter-spacing: 0.04em;
  color: $bg-contacts-button;
  text-align: center;
  background-color: $text-secondary;
  transition: background-color 500ms cubic-bezier(0.215, 0.610, 0.355, 1),
  color 250ms cubic-bezier(0.215, 0.610, 0.355, 1);
  box-shadow: $header-buttons-shadow;

  &:hover,
  &:focus {
    transition: background-color 250ms cubic-bezier(0.215, 0.610, 0.355, 1),
    color 500ms cubic-bezier(0.215, 0.610, 0.355, 1);
    box-shadow: $hover-buttons-shadow;
    background-color: $btn-dark;
    color: $text-secondary;
  }
}